<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>IdeasOnCanvas GmbH</string>
	<key>id</key>
	<string>C1668BDF-D5C7-49E4-B465-8AF487F3965F</string>
	<key>title</key>
	<string>Greyscale</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
